* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  color: inherit; /* blue colors for links too */
  text-decoration: inherit; /* no underline */
}

.activeNavItem {
  background: rgba(0, 0, 0, .2);
}